@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: white;
  background: linear-gradient(113.49deg, #b8401e -30.3%, #181E41 58.12%);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
}

a,ul,li,h1  {
  list-style: none;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 30px 8vw;
}

.logo {
  height: clamp(2rem, 3vw, 8rem);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

li {
  position: relative;
}

li::before {
  content: "";
  background: linear-gradient(45deg, #ee7652, #e73c7e, #23a5d5, #23d5ab);
  background-size: 400% 400%;
	animation: gradient 2s ease infinite;
  transition: 0.4s ease-out;
  width: 0%;
  height: 2px;

  position: absolute;
  left: 0;
  bottom: -3px;
}

li:hover::before {
  width: 100%;
}

.socials {
  display: flex;
  gap: 1vw;
  padding-left: 2vw;
}

.socials > a:hover {
  color: #781eb8;
}

#homeSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  width: 85%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.053);
  border-radius: 15px;
  padding: 40px;
}

.home-box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.up {
  font-family: 'Great Vibes', cursive;
  font-size: 2vw;
}

.h1 {
  font-size: 4vw;
  margin: 0;
  padding: 0;
}

.dp {
  height: 25vw;
  object-fit: scale-down;
}

.lang {
  padding-top: 15px;
}

.lang > img {
  height: 48px;
  display: inline-flex;
  padding: 0 4px;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#aboutSec {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  width: 85%;
  backdrop-filter: blur(10px);
  background: linear-gradient(45deg, #ee765220, #e73c7e20, #23a5d519, #23d5ab19);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  border-radius: 15px;
  padding: 40px;
}

.about-contents > div {
  padding: 4px 8px;
  border-radius: 20px;
  margin: 8px 0;
  backdrop-filter: blur(10px);
  background: linear-gradient(-45deg, #ee765220, #e73c7e20, #23a5d519, #23d5ab19);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}

#proSec {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.pro-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  width: 85%;
  backdrop-filter: blur(10px);
  background: linear-gradient(45deg, #ee765220, #e73c7e20, #23a5d519, #23d5ab19);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  border-radius: 15px;
  padding: 40px;
}


@media only screen and (max-width: 768px) {

}
